<!DOCTYPE html>
<html lang="en-US">

<head>
    {% include 'snippets/head.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>

<div class="container">
    <h1>My Web Page</h1>
    <div class="row">
        <div class="col-lg-6">
            <div id="piechart"></div>
        </div>
        
        <div class="col-lg-6">
            <canvas id="myChart" style="max-width:90%"></canvas>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    const xValues = {{dxvalue|safe}};
    const yValues = {{dyvalue|safe}};
    const barColors = "red";
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
    const departments = {{departments|safe}}

    
    console.log(typeof(departments));
    var data = google.visualization.arrayToDataTable(
        departments
    );

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'My Average Day', 'width':500, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}


new Chart("myChart", {
    type: "bar",
    data: {
        labels: xValues,
        datasets: [{
        backgroundColor: barColors,
        data: yValues
        }]
    },
    options: {
        legend: {display: false},
        title: {
        display: true,
        text: "Contracted Tenders"
        }
    }
    });
</script>

</body>
</html>
