{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{% static 'img/Reg_logo.png' %}" type="image/x-icon"/>
<title>
  REG EUCL/EDCL
</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}">
<script src="{% static 'js/bootstrapjquery.js' %}"></script>
<script src="{% static 'js/proper.js' %}"></script>
<script src="{% static 'js/jquery-3.6.4.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<style>
body {
    font: 16px Montserrat, sans-serif;
    line-height: 1.8;
    font-size: 13px;
  }
</style>
